<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/icon.jpg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
    <div class="main-content">
        {{>header}}
        <img src="/images/h1.jpg" class="portrait" alt="Image">
        <p>Created and Maintained by Hemanth.S</p>
        <p>This site uses data from mapbox.com and darksky.net</p>
    </div>
        {{>footer}}
    </body>
</html>